<head><title>Acceuil</title></head>
<div class="all-video">
	<a href=<%= filmes_path%>><center class="btn-films" style="background-image: url(<%= asset_path 'film-acceuil.jpg' %>);"><h1>films</h1></center></a>
	<a href=<%= series_path%>><center class="btn-series" style="background-image: url(<%= asset_path 'serie-acceuil.jpg' %>);"><h1>series</h1></center></a>
</div>