.saison-titre
{
	margin-right: 10px;
	margin-bottom: 10px;
	min-width: 100px;
	background-color: white;
	padding: 1%;
	border-style: outset;
	border-width: 2px;
	cursor: pointer;
}
.saisons
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.saison-count
{
	display: inline-block;
	height: 100%; 
	min-width: 100px;
	background-color: lightblue;
	border-style: outset;
	border-width: 2px;
	cursor: pointer;
}

.saison-count:hover
{
	box-shadow: 0px 3px 3px 0px grey;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: blue}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;

}

#edit
{
	padding: 1%;
	display: inline-block;
	position: absolute;
	right: 0;
	top:15%;
	min-height: 150px; 
	min-width: 250px;
	background-color: #eeeeee;
	border-style: solid;
	border-radius: 20px;
	border-width: 2px;
}